

a {
    font-family: Gadugi;
    font-size:15px; 
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    min-height:100%;
}

h2 {
    font-family: Gadugi;
    color: black;
    font-size: 24px;
}

#page {
    width: 1000px;
    margin: auto;
    background-color: #FFFFFF;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #F0F0F0;
    text-align:right;
  
}

#foot {
    margin: 50px
}

/* Logo image Setting - Start*/
#logo {
    width: 300px;
    height: 100px;
    
}
/* Logo image Setting - End*/

/* User Navigation Bar Setting - Start */
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #F0F0F0;
}

#menu li {
    float: left;
    border-right: 1px solid #bbb;
}

#menu li a {
     display:inline-block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

#menu a:hover {
    color: #003082;
    font-size:16px;
    background-color:white;
}
/* User Navigation Bar Setting - End */

/* Admin Navigation Bar Setting - Start */
#adminNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0;
}

#adminNav li {
    float: right;
    border-left: 1px solid #bbb;

}

#adminNav li a {
       display: inline-block;
       color: black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       background-color: #F0F0F0;
  }

#adminNav a:hover {
    color: #003082;
    font-weight: 600;
}
/* Admin Navigation Bar Setting - End */

/* Login Bar Setting - Start */

#login ul {
    
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:visible;
    background-color: #F0F0F0;
}
#login li {
    float: right;
    border-left: 1px solid #bbb;
}

#login li a {
    display:inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
#login a:hover {
    color: #003082;
    font-weight:600;
}

/* Login Bar Setting - End */

/* Default Page Style*/
#frmDefault {
    width: 1000px;
    height: auto;
    padding: 5px 20px 20px 20px;
    text-align:center;
    vertical-align:central;
    
}

#tblRep{
    width:45%;
    margin:10px 20px 10px 20px;
    float:left;
    border-collapse:collapse;
}

#tblRep ImgDisplay:hover {
    Height: 280px;
    Width:370px;
}
 #tblRep td {
      border-width: 2px;
      border-style: double;
      border-color: #F0F0F0;
      padding: 10px 10px 10px 10px;
      
}
 #tblRep p{
     margin:5px;
 }

/* Contact Us Page Style*/

#frmContact{
    margin-left:20px;
}
#lblStore{
    text-align:center;

}
/* Map Setting - Start*/
#map {
    height: 50%;
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: #F0F0F0;
}
/* Map Setting - End*/

/*Login Page Style */
#frmLogin {
    width: 1000px;
    height: auto;

}

.column {
    float: right;
    width: 55%;
    padding: 30px;
    padding-left:80px;
    text-align:center;
    height: 100%;
    border-left: 3px solid #F0F0F0;
  
}
.column2 {
    float: left;
    width: 25%;
    padding: 30px;
    height: 100%;
    background-color: #F0F0F0;
}

#FormView1 {
    font-family: Gadugi;
  
}
/*Product Page Style */
#form1 {
    padding-bottom: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
}